@charset "UTF-8";
@media (max-width:599px) {
    /* SP 共通の　css */
    /* header_navの非表示 */
    .header_nav{
        display: none;
    }
    .section_wrapper{
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .section_inner{
        width: 300px;
        margin: 0 auto;
    }
    /* h2　サイズ指定 */
    .bullets_mark{
        width: 10px;
        height: 20px;
    }
    .section_title_text{
        padding-left:10px;
        font-size: 20px;
    }

    /* header */
    header{
        height: 30px;
        width: 375px;
        margin: 0 auto;
        text-align: left;
    }
    header img{
        width: 82px;
        height: 16px;
        margin: 7px auto 7px 38px;
    }

/* top_wrapper */
    .top_wrapper{
        height: 205px;
        width: 375px;
        background-size: cover;
        margin: 0 auto;

    }
    .top_content img{
        height: 205px;
        width: 375px;
        margin: 0;
    }

    .top_title{
        font-size: 30px;
        top: 0px;
        right: 10px;
    }
    .top_copy{
        font-size: 20px;
        top: 50px;
        right: 10px;
    }

        /* section_point */
    .section_point{
        height: 1512px;
    }
    .circle{
        width: 80px;
        height: 80px;
        font-size: 13px;
        line-height: 80px;
    }
    .circle_list{
        height: 80px;
        margin-top: 20px;
        margin-bottom: 45px;
    }
}